{{>partials/header}}

    <h1>Título da página</h1>
    {{#showOld}}
    <p>tudo bem, {{name}} {{lastname}}!</p>
    {{/showOld}}
    <hr/>
    <h2>Produtos </h2>

    <ul>
    {{#products}}
        <li>{{title}} - R$ {{price}}</li>
    {{/products}}

     <h2>Produtos a partir de R$ 12 </h2>

    <ul>
    {{#expensiveList}}
        <li>{{title}} - R$ {{price}}</li>
    {{/expensiveList}}
    </ul>
    <hr/>
    <ul>
    {{#frasesDoDia}}
        {{.}}
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
    </ul>
{{>partials/footer}}
